#!/usr/bin/make -f

# Enabling DH_VERBOSE forces the logging of all build steps and commands.
# See debhelper(7) for more info.
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	# No build needed, using pre-built binary

override_dh_auto_install:
	# Extract the Ghidra zip to the debian/ghidra directory
	mkdir -p debian/ghidra/usr/lib
	unzip $(CURDIR)/ghidra_*_PUBLIC_*.zip -d debian/ghidra/usr/lib/
	mv debian/ghidra/usr/lib/ghidra_*_PUBLIC debian/ghidra/usr/lib/ghidra

	# Use install command to create directories and copy files
	install -Dm755 debian/launchers/ghidra.sh debian/ghidra/usr/bin/ghidra
	install -Dm755 debian/launchers/ghidra-analyze-headless.sh debian/ghidra/usr/bin/ghidra-analyze-headless
	install -Dm644 debian/launchers/ghidra.desktop debian/ghidra/usr/share/applications/ghidra.desktop
	dh_auto_install


override_dh_fixperms:
	dh_fixperms
	chmod +x debian/ghidra/usr/lib/ghidra/ghidraRun
	chmod +x debian/ghidra/usr/lib/ghidra/support/analyzeHeadless

clean:
	$(RM) -r debian/ghidra
