#!/usr/bin/make -f

# Enabling DH_VERBOSE forces the logging of all build steps and commands.
# See debhelper(7) for more info.
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	# No build needed, using pre-built binary

override_dh_auto_install:
	# Extract the Ghidra zip to the debian/ghidra directory
	mkdir -p debian/ghidra/usr/share
	unzip $(CURDIR)/ghidra_*_PUBLIC_*.zip -d debian/ghidra/usr/share/
	mv debian/ghidra/usr/share/ghidra_*_PUBLIC debian/ghidra/usr/share/ghidra

	# Create /etc/ghidra directory, move launch.properties there, and symlink it
	mkdir -p debian/ghidra/etc/ghidra
	mv debian/ghidra/usr/share/ghidra/support/launch.properties debian/ghidra/etc/ghidra/
	ln -s /etc/ghidra/launch.properties debian/ghidra/usr/share/ghidra/support/launch.properties

	dh_auto_install


override_dh_fixperms:
	dh_fixperms
	find debian/ghidra -name '*.jar' -exec chmod -x "{}" \;
	chmod +x debian/ghidra/usr/share/ghidra/ghidraRun
	chmod +x debian/ghidra/usr/share/ghidra/support/analyzeHeadless
