[Desktop Entry]
Version=1.0
Type=Application
Name=Ghidra
Comment=Software Reverse Engineering Tool
Exec=/usr/bin/ghidra
Icon=/usr/lib/ghidra/docs/images/GHIDRA_1.png
Terminal=false
Categories=Development;Utility;
